.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.GuessBox {
  background-color: rgba(71,157,175,.9);
  width: 550px;
  padding: 30px;
}


